.product-form {
  position: relative;
  width: 50rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 95%;
  width: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 120rem) {
  .product-item {
    left: 0;
    transform: translate(0);
    height: 23rem;
  } 
}

@media (max-width: 48rem) {
  .product-item {
    width: 23rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.product-detail {
  max-width: 95%;
  width: 80rem;
  border: 3px solid;
  background-color: aqua;
}
