.product-form {
    width: 50rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    max-width: 95%;
    width: 23.5rem;
    height: 40rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}